<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.bill.mapper.fuelMapper">

    <!-- 
        mybatis-config.xml의 typeAlias에 등록해두지 않았다면 
        
        <select id="selectMember" resultType="com.example.dto.MemberVO" >
            SELECT ID, PW ,NAME FROM TEST
        </select>
        
        이렇게 해야 한다.
    -->
    
    <select id="selectFuel" resultType="fuelVO">
        SELECT time,Fuel,route FROM concat WHERE Fuel NOT IN('')
    </select>
 
    <insert id="mqttInsertFuel" parameterType="String">
    	INSERT INTO concat(time, Fuel, route, driver) 
    	VALUES (#{time}, #{Fuel}, #{route}, #{driver}) 
    	
    </insert>
 
 
    <insert id="mqttInsertData" parameterType="String">
    	INSERT INTO mqttdata (
    		DRIVER,
    		ROUTE, 
    		TIME, 
    		RPM, 
    		SPEED, 
    		RUNTIME, 
    		FUEL, 
    		TEMPERATURE, 
    		COOLANTTEMP, 
    		IDLING, 
    		BATTERYVOLT, 
    		BATTERYTEMP, 
    		TORQUE, 
    		HORSEPOWER, 
    		LATITUDE, 
    		LONGITUDE, 
    		ALTITUDE 
    	)VALUES (
    		#{driver},
    		#{route}, 
    		#{time}, 
    		#{RPM, jdbcType = VARCHAR}, 
    		#{Speed, jdbcType = VARCHAR}, 
    		#{Runtime, jdbcType = VARCHAR}, 
    		#{Fuel, jdbcType = VARCHAR}, 
    		#{Temperature, jdbcType = VARCHAR}, 
    		#{coolantTemp, jdbcType = VARCHAR}, 
    		#{idling, jdbcType = VARCHAR}, 
    		#{batteryVolt, jdbcType = VARCHAR}, 
    		#{batteryTemp, jdbcType = VARCHAR}, 
    		#{torque, jdbcType = VARCHAR}, 
    		#{horsePower, jdbcType = VARCHAR}, 
    		#{Latitude, jdbcType = VARCHAR}, 
    		#{Longitude, jdbcType = VARCHAR}, 
    		#{Altitude, jdbcType = VARCHAR}
   		) 
    	
    </insert>
 
 
    
</mapper>
